@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";

    var sum = 1 + 2;
    var menu = new string[] { "Pizza", "caffé", "cake"};
}

<h1>Restaurants</h1>

<div>
  <h3>The sum is @sum</h3>
  <h3>Menu</h3>
  @foreach (var item in menu)
  {
    <li>@item</li>
  }
</div>

<form method="get">
  <div class="form-group">
    <div class="input-group">
      <input type="search" class="form-control" asp-for="SearchTerm" />
      <span class="input-group-btn">
          <button class="btn btn-default">
             <!-- <i class="material-icons md-18">search</i> -->
              <i class="fas fa-search"></i>
          </button>
      </span>
    </div>
  </div>
</form>


@foreach (var restaurant in Model.Restaurants)
{
  <partial name="./_Summary.cshtml" model="restaurant"></partial>
}

@* <table class="table">
  @foreach (var restaurant in Model.Restaurants)
  {
    <tr>
      <td>@restaurant.Name</td>
      <td>@restaurant.Location</td>
      <td>@restaurant.Cuisine</td>
      <td>
        <a class="btn btn-lg" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id" >
              <i class="fas fa-search"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id" >
              <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Delete" asp-route-restaurantId="@restaurant.Id" >
              <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
  }
</table> *@

<a asp-page=".\Edit" class="btn btn-primary">Add New Restaurant</a>
<h2>
@Model.Message
</h2>
